= title :new, sale

= render 'form'

= actions :new, sale

%div{ "ng-init" => 'foo = []' }

%div{ "ng-init" => 'foo[0] = {}' }
  %input{ 'ng-model' => 'foo[0].test', 'ng-initial' => true }
  %input{ 'ng-model' => 'foo[0].test2' }
  %input{ 'value' => '{{ foo[0].test * foo[0].test2 }}' }

%div{ "ng-init" => 'foo[1] = {}' }
  %input{ 'ng-model' => 'foo[1].test' }
  %input{ 'ng-model' => 'foo[1].test2' }
  %input{ 'value' => '{{ foo[1].test * foo[1].test2 }}' }

%br

%strong {{ foo|sumByKey:'test' }}
