= title :new, sale

= render 'form'

= actions :new, sale

%div{ "ng-init" => 'product = []' }

%div{ "ng-init" => 'product[0] = {}' }
  %input{ 'ng-model' => 'product[0].quantity' }
  %input{ 'ng-model' => 'product[0].price' }
  %input{ 'value' => '{{ product[0].quantity * product[0].price }}' }

%div{ "ng-init" => 'product[1] = {}' }
  %input{ 'ng-model' => 'product[1].quantity' }
  %input{ 'ng-model' => 'product[1].price' }
  %input{ 'value' => '{{ product[1].quantity * product[1].price }}' }

%br

%strong {{ sale.sale_items[2].quantity }}
/ Total: {{ foo|sumByKey:'quantity * price' }}